* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --black: #080808;
  --white: #fefefe;
  --gray: #565656;
  --light-light-gray: rgba(120, 118, 118, 0.2);
  --light-gray: rgba(120, 118, 118, 0.5);

  --teal: #006060;
  --violetred: #a2106d;
  --orange: #ffa500;

  --black-blue: #00002a;
  --dark-blue: #152238;
  --steel-blue: #2d82b7;
  --yellow: #eeeb2e;
}

html {
  background-color: var(--white);
}

header {
  /* should stick to top */
  /* or scrolling thing? */
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: var(--black);
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 10px auto;
}

form {
  display: inline-block;
  margin: 0 25%;
  max-width: 100%;
}

footer {
  /* should stick to bottom */
  /* should match height of header? */
  background-color: var(--black-blue);
  padding: 25px 0;
  border-top: solid 1px var(--light-light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
}

.primary {
  background-color: var(--yellow);
}

/* for nav bar */
.menu {
  margin: 0px;
  padding: 25px 0;
  width: 100%;
  background-color: var(--dark-blue);
}

.menu-list {
  margin: 0px;
  text-align: right;
  width: 100%;
}

.menu-li {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  text-align: center;
}

.menu-tab {
  color: var(--white);
  text-decoration: none;
  width: 100%;
  padding: 25px 20px;
}

.menu-tab:hover {
  background-color: var(--steel-blue);
}

@media (max-width: 450px) {
  .menu {
    padding: 0;
  }

  .menu-list {
    display: flex;
    text-align: justify-all;
    padding: 0px;
  }

  .menu-li {
    width: 25%;
    text-align: center;
  }

  .menu-tab {
    display: inline-block;
    width: 100%;
    padding: 25px 0;
  }
}

/* for about (index) page */
.abt-photo {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.bio {
  margin: 20px auto;
  width: 300px;
}

.bio::first-line {
  font-weight: bold;
}

/* for projects page */
/* .carousel {
  display: flex;
  max-width: 650px;
  width: 100%;
  height: 400px;
  background: #fff;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.arrow {
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: #343f4f;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s linear;
  z-index: 100;
  cursor: pointer;
}

.arrow:active {
  transform: scale(0.94) translateY(-50%);
}

.cards {
  height: 320px;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
}

.showing {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
} */

.card {
  display: flex;
  width: 500px;
  border: 1px solid var(--black);
}

.card-img {
  width: 166px;
  height: 300px;
  padding: 10px;
}

.text {
  padding: 10px;
  display: flex column;
  align-items: space-around;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.card-title {
  font-size: 25px;
}

.git-logo {
  font-size: 35px;
  color: var(--steel-blue);
}

/* for contact page */
.flex-box {
  display: flex;
  flex-wrap: wrap;
}

.contact-half {
  width: 49%;
  padding: 10px;
}

.contact-section {
  padding: 5px 0;
}

.contact-input {
  width: 100%;
}

.hidden {
  display: none;
  justify-content: space-between;
}

.btn {
  border: 0;
  width: 100%;
  padding: 10px 0;
  color: var(--black);
}

.btn:hover {
  background-color: var(--steel-blue);
  color: var(--white);
}

@media (max-width: 775px) {
  .contact-half {
    width: 90%;
  }
}
